.logo-container{
  height: 50px;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.box{

  border: 1px;
  border-color: white;
  outline: white;
  display: flex;
  margin: 400px;
  margin-top: -80px;
  box-shadow: black 1px 0 15px;
  padding:40px
}

body{
  background-color: white;
  background-image: url('./assets/images/background.png');

}
.bodystyle{
  color: black;
  text-align: center;
  font-size: 30px;
  font-family:"Roboto";
  display: flex;
  background-color: white;
  margin-left: -39px;
  margin-right:-39px;
  margin-top: -39px;
  margin-bottom: -39px;
  padding: 40px;
}

.sample-css {
  min-height:30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 7vmin);
  color: white;
  font-family:"Roboto";
  outline: black;
  text-shadow: 2px 3px 7px black;  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
